<%= render :partial => 'shared/notice' %>
<div class="app-form">
  <% form_for @institute do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :level %>
      <%= f.select :level, Institute::LEVEL, {:include_blank => 'Select a type'} %>
    </div>
    <%= f.submit "Add" %> | <%= link_to 'Cancel', collection_path %>
  <%end%>
</div>