<%= form.error_messages %>
<div class="field">
  <%= form.label :area %>
  <%= form.text_field :area %>
</div>
<div class="field">
  <%= form.label :job %>
  <%= form.text_field :job %>
</div>
<div class="field">
  <%= form.label :remuneration %>
  <%= form.text_field :remuneration %>
</div>
<div class="field">
  <%= form.label :vacancy_date%>
  <%= form.date_select :vacancy_date %>
</div>
<div class="field">
  <%= form.label :concerns %>
  <%= form.text_area :concerns %>
</div>