<%= form.error_messages %>
<div class="field">
  <%= form.label :company %>
  <%= form.text_field :company %>
</div>
<div class="field">
  <%= form.label :employment %>
  <%= form.text_field :employment %>
</div>
<div class="field">
  <%= form.label :date_from %>
  <%= form.date_select :date_from%>
</div>
<div class="field">
  <%= form.label :date_until %>
  <%= form.date_select :date_until %>
</div>
