<tr class='<%= cycle('gray', nil) %>'>
  <td><%= job.employment %></td>
  <td><%= job.description %></td>
  <td><%= job.date_from.strftime("%d/%m/%Y") %></td>
  <td><%= job.date_until.strftime("%d/%m/%Y") %></td>
  <td>
    <%= link_to 'Edit', edit_user_job_path(@user, job) %>
    <span> | </span>
    <%= link_to 'Delete', user_job_path(@user, job), :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>
