<h1></h1>
<%= link_to 'Add', new_user_job_path %><br/>

<% @jobs.each do |job| %>
  <%= job.company %>
  <%= job.employment %>
  <%= job.description %>
  <%= job.date_from.strftime("%d/%m/%Y") %>
  <%= job.date_until.strftime("%d/%m/%Y") %>
  <%= link_to 'Edit', edit_user_job_path(current_user, job) %> |
  <%= link_to 'Delete',[current_user, job], :method => :delete, :confirm => "Are you sure?" %>
<% end %>
