<%= form.error_messages %>
<% if register %>
  <h1>Register your company</h1>
  <% form.fields_for :company_attributes, @user.company do |company_form|%>
<div class="field">
    <%= company_form.label :name %>
    <%= company_form.text_field :name %>
</div>
<div class="field">
    <%= company_form.label :login, "Company Login" %>
    <%= company_form.text_field :login %>
</div>
  <% end %>
<% end %>
<div class="field">
<%= form.label :first_name %>
<%= form.text_field :first_name %>
</div>
<div class="field">
<%= form.label :last_name %>
<%= form.text_field :last_name %>
</div>
<div class="field">
<%= form.label :login %>
<%= form.text_field :login %>
</div>
<div class="field">
<%= form.label :email %>
<%= form.text_field :email %>
</div>
<div class="field">
<%= form.label :password, form.object.new_record? ? nil : "Change password" %>
<%= form.password_field :password %>
</div>
<div class="field">
<%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation %>
</div>