<h1>Edit personal information</h1>
<%= render :partial => 'shared/notice' %>
<div class="app-form">
  <% form_for @user, :html => { :multipart => true }  do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f, :locals => {:register => false, :editing => true} %>
    <%= f.submit "Update" %> | <%= link_to 'Cancel', user_path(current_user) %>
  <% end %>
</div>

