<h1></h1>
<%= render :partial => 'shared/notice' %>
<%= image_tag @user.photo.url(:small) %><br/>
<span class="show">Login:</span><%= @user.login %><br/>
<span class="show">First Name:</span><%= @user.first_name %><br/>
<span class="show">Last Name:</span><%= @user.last_name %><br/>
<span class="show">DNI:</span><%= @user.dni %><br/>
<span class="show">Email:</span><%= @user.email %><br/>
<span class="show">Gender:</span><%= @user.gender %><br/>
<span class="show">Marital status:</span><%= @user.marital_status %><br/>
<span class="show">Address:</span><%= @user.address %><br/>
<span class="show">Phone:</span><%= @user.phone%><br/>
<span class="show">Mobile Phone:</span><%= @user.mobile_phone %><br/>
<span class="show">Country:</span><%= @user.country_id %><br/>
<span class="show">State:</span><%= @user.state_id %><br/>
<span class="show">Role:</span>
<% @user.roles.each do |role| %>
  <%= role.name %>
<% end %>
<br/>
<%= link_to 'Edit', edit_user_path %>