<h1></h1>
  <%= image_tag @user.photo.url(:small) %><br/>
  <b>Login:</b>  <%= @user.login %><br/>
  <b>First Name:</b> <%= @user.first_name %><br/>
  <b>Last Name:</b>  <%= @user.last_name %><br/>
  <b>DNI:</b>  <%= @user.dni %><br/>
  <b>Email:</b>  <%= @user.email %><br/>
  <b>Gender:</b>  <%= @user.gender %><br/>
  <b>Marital status:</b>  <%= @user.marital_status %><br/>
  <b>Address:</b>  <%= @user.address %><br/>
  <b>Phone:</b>  <%= @user.phone%><br/>
  <b>Mobile Phone:</b>  <%= @user.mobile_phone %><br/>
  <b>Country:</b>  <%= @user.country_id %><br/>
  <b>State:</b>  <%= @user.state_id %><br/>
  <b>Role:</b>
  <% @user.roles.each do |role| %>
    <%= role.name %>
  <% end %>
  <br/>
<%= link_to 'Edit', edit_user_path %>