<tr class='<%= cycle('gray', nil) %>'>
  <td><%= departament.name %></td>
  <td><%= departament.area.name %></td>
  <td>
    <%= link_to 'Edit', edit_area_departament_path(@area, departament) %>
    <span> | </span>
    <%= link_to 'Delete', area_departament_path(@area, departament), :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>