<tr class='<%= cycle('gray', nil) %>'>
  <td><%= competency.type %></td>
  <td><%= competency.name %></td>
  <td><%= competency.definition %></td>
  <td><%= competency.weighted %></td>
  <td><%= link_to 'View Items', competency_items_path(competency) %></td>
  <td>
    <%= link_to 'Edit', edit_competency_path(competency) %>
    <span> | </span>
    <%= link_to 'Delete', competency, :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>