<div class="app-form">
  <% form_for @competency do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :type %>
      <%= f.select :type, ["organizational","role","specifies"], :prompt => "Choose a type" %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :definition %>
      <%= f.text_area :definition %>
    </div>
    <div class="field">
      <%= f.label :weighted %>
      <%= f.text_field :weighted %>
    </div>
    <%= f.submit "Add" %> | <%= link_to 'Cancel', competencies_path %>
  <% end %>
</div>

