<%= form.error_messages %>
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
<div class="field">
  <%= form.label :weighted %>
  <%= form.text_field :weighted %>
</div>
