<h1>Edit company information</h1>
<div class="app-form">
  <% form_for current_company do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :website %>
      <%= f.text_field :website %>
    </div>
    <%= f.submit "Update" %> | <%= link_to 'Cancel', welcome_path %>
  <% end %>
</div>
