<h1><%= current_company.name %></h1>
<%= render :partial => 'shared/notice' %>
<span class="show">Website</span><%= current_company.website %><br/>
<span class="show">Login</span><%= current_company.login %><br/>
<span class="show">Street</span><br/>
<span class="show">Phone</span><br/>

<%= link_to "Edit", edit_company_path(current_company) %>
