<%= form.error_messages %>
<div class="field">
  <%= form.label 'Description' %>
  <%= form.text_field :description %>
</div>
<div class="field">
  <%= form.label 'Weighted' %>
  <%= form.text_field :weighted %>
</div>
