<tr class='<%= cycle('gray', nil) %>'>
  <td><%= item.description %></td>
  <td><%= item.weighted %></td>
  <td>
    <%= link_to 'Edit', edit_competency_item_path(@competency, item) %>
    <span> | </span>
    <%= link_to 'Delete', competency_item_path(@competency, item), :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>
