<h1></h1>
<%= render :partial => 'shared/notice' %>
<h3>Items for <%= @current_competency.name %> </h3>

<%= link_to 'Add', new_company_competency_item_path(current_company, @current_competency) %>
<table>
  <thead>
    <tr>
      <td>Desiription</td>
      <td>Weighted</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.description %></td>
        <td><%= i.weighted %></td>
        <td><%= link_to 'Edit', edit_company_competency_item_path(current_company, @current_competency, i) %></td>
        <td><%= link_to 'Delete',company_competency_item_path(current_company, @current_competency, i), :method => :delete, :confirm => "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
